{% extends "twig/base.html.twig" %}

{% block title %}Twig Assets{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <h2>{{ PROJECT_NAME }}</h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
{#        <a class="btn btn-primary btn-lg" href="#" id="monButton" role="button">Learn more</a>#}
        <a href="{{ path('exercice_twig') }}" class="btn btn-primary">Exercice Twig</a>
    </div>

    <div class="row">
        {% for articles in articles %}
            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                {% include 'twig/_partials/blog_item.html.twig' with { withSoustitre: true, article: articles } %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
