{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}

    <div class="jumbotron">
        {% if not new %}
            <a href="{{ path('blog_single', { slug: article.slug }) }}" class="float-right">Voir l'article --></a>
        {% endif %}
        <h1 class="display-4">
            {{ new ? 'Nouvel Article' : article.title }}
        </h1>
        {% include '_partials/flash.html.twig' %}
        <hr class="my-4">
    </div>

    {# FORM #}
    {{ form_start(form) }}

    {{ form_widget(form) }}

{#    <div class="row">#}
{#        <div class="col-lg-10">#}
{#            {{ form_row(form.title) }}#}
{#        </div>#}
{#        <div class="col-lg-2 pt-4">#}
{#            <button type="submit" class="btn btn-primary">Valider</button>#}
{#        </div>#}
{#    </div>#}

{#    {{ form_row(form.text) }}#}

     <button type="submit" class="btn btn-primary">Valider</button>

    {{ form_end(form) }}

{% endblock %}
