{% extends "emails/base.email.twig" %}

{% block body %}
    <div>
        Message du site : <br><br>
        Sujet: <u>{{ contactPro.sujet }}</u> <br><br>
        Nom: {{ contactPro.nom }}, <br>
        Prénom: {{ contactPro.prenom }}, <br>
        Société: {{ contactPro.societe }}, <br>
        Email: {{ contactPro.email }}, <br>
        <br>
        Message : <br><br>
        {{ contactPro.message|nl2br }}
    </div>
{% endblock %}

